.py-4.flex.gap-3{id: "#{form.object.id}_count-on-hand"}
  - if form.object.count_on_hand.zero? && (!form.object.is_master || (!@product.has_variant && form.object.is_master))
    = render StockCountComponent.new count: form.object.count_on_hand
    .text-red-600 Out of stock
  - elsif form.object.is_master && @product.has_variant 
    = render StockCountComponent.new count: form.object.count_on_hand
    %span.text-zinc-400
      (ignored)
  - else
    = render StockCountComponent.new count: form.object.count_on_hand
