%ul.py-2.px-3.rounded-md.border.border-red-600{class: "bg-red-600/10"}
  %li.text-red-600.font-medium{class: "text-[15px]"}
    = "#{label}:"
  - errors.each do |error|
    %li.text-red-600{class: "text-[15px]"}
      = "• #{error}"
