%span
  - if lowest == highest
    = number_to_currency(highest, precision: 2, strip_insignificant_zeros: true, unit: currency_symbol(currency))
  - else
    = number_to_currency(lowest, precision: 2, strip_insignificant_zeros: true, unit: currency_symbol(currency))
    = "-"
    = number_to_currency(highest, precision: 2, strip_insignificant_zeros: true, unit: currency_symbol(currency))
