%span
  - if lowest == highest || highest.nil?
    = price_with_currency(lowest, currency_symbol(currency))
  - else
    = price_with_currency(lowest, currency_symbol(currency))
    = "-"
    = price_with_currency(highest, currency_symbol(currency))
