.flex.flex-col.gap-7.py-2.w-full
  .flex.flex-col.gap-5.w-full
    = render SectionLabelComponent.new label: label
    .flex.w-full.justify-between.items-start
      %h2.text-3xl.font-bold
        = title
      - if action_partial.present?
        = render action_partial
  .w-full
    = content
