= link_to path, target:, class: "-mb-0.5 transition-colors text-nowrap duration-150 w-full text-center inline-block px-4 py-3 border-b-2 rounded-t-lg #{path == request.fullpath ? "border-primary text-primary" : "text-gray-600 hover:text-gray-900 border-transparent hover:border-gray-500"}" do
  = content
