= form.number_field :price, id: dom_id(form.object, "price"), data: { action: "change->autosave#save" },
value: form.object.errors.present? ? form.object.price_was : form.object.price,
placeholder: "0.00", step: :any, required: true, class: "input-table"
