- if devise_mapping.omniauthable?
  .flex.flex-col.gap-3
    = button_to omniauth_authorize_path(resource_name, "facebook"), data: { turbo: false }, class: "flex w-full items-center gap-3 px-14 border py-2 border-gray-300 justify-center" do
      = icon('fa-brands', 'facebook', class: "text-2xl")
      Sign in with Facebook
    = button_to omniauth_authorize_path(resource_name, "google_oauth2"), data: { turbo: false }, class: "flex w-full items-center gap-3 px-14 py-2 border border-gray-300 justify-center" do
      = icon('fa-brands', 'google', class: "text-2xl")
      Sign in with Google
