.p-3.rounded.bg-white.grid.gap-2.border.border-gray-300.shadow-sm
  %h2.font-medium Payment Method
  - if @order.payment_method.present?
    = @order.payment_method.name
  - else
    No Payment Method provided
