- if can?(:ship, @order) || can?(:complete, @order)
  .flex.gap-3
    - if can?(:ship, @order)
      = button_to ship_admin_order_path(@order), method: :post, class: "btn-primary flex gap-2 items-center", data: { turbo_confirm: "Proceed to prepare (to ship) status?"} do
        = icon("fa-solid", "cart-flatbed")
        Prepare Order (To ship)
    - if can?(:complete, @order)
      = button_to complete_admin_order_path(@order), method: :post, class: "btn-primary flex gap-2 items-center", data: { turbo_confirm: "Proceed to complete status?"} do
        = icon("fa-solid", "check")
        Complete Order
