- if can?(:return, @order)
  .p-3.rounded.bg-white.grid.gap-2.border.border-gray-400
    %h2.font-medium Return Form
    = button_to return_admin_order_path(@order), method: :post, class: "btn-primary px-8 py-2 flex gap-2 items-center", data: { turbo_confirm: "Are you sure to return order?"} do
      = icon("fa-solid", "backward")
      Return Order
- if can?(:refund, @order)
  .p-3.rounded.bg-white.grid.gap-2.border.border-gray-400
    %h2.font-medium Refund Form
    = button_to refund_admin_order_path(@order), method: :post, class: "btn-primary px-8 py-2 flex gap-2 items-center", data: { turbo_confirm: "Are you sure to refund order?"} do
      = icon("fa-solid", "dollar-sign")
      Refund Order
