= check_box_tag "cart_ids", @cart.id, @invalid ? false : (@checked || params[:bn] == @cart.id), class: "checkbox-primary", data: {"carts--select-all-target": "checkbox", "carts--item-target": "checkbox"}, id: "cart-#{@cart.id}-checkbox", disabled: @invalid
