= check_box_tag "cart_ids", @cart.uuid, @invalid ? false : (@checked || params[:bn] == @cart.uuid), class: "checkbox-primary", data: {"carts--select-all-target": "checkbox", "carts--item-target": "checkbox"}, id: "cart-#{@cart.uuid}-checkbox", disabled: @invalid
