.w-full.margin-max-screen
  = render SectionComponent.new               |
      label: "Category",                      |
      title: "Browse By Category",            |
      action_partial: "category_action" do    |
    sample
