.margin-max-screen.py-8.flex.flex-col.gap-5
  = render "admin/products/tabs"
  %span.text-gray-500
    product:
    = @product.name
  %div
    %ul.form-table-head 
      %li
        Name
      %li
        SKU
      %li
        Trackable
      %li
        Backorderable
      %li
        Count on hand
    %ul.form-table-body
      - if @variants.present?
        - @variants.each do |variant|                   
          = render "stock_item", variant:
      - else
        %li.flex.justify-center.w-full.py-4.text-gray-400 
          No variants
