= turbo_stream.replace "carts-total" do
  #carts-total.text-primary{class: @total.zero? ? "hidden" : "", data: {"carts--select-all-target": "total"}}
    = render PriceRangeComponent.new lowest: @total, currency: MoneyRails.default_currency.id.to_s
