.margin-max-screen.h-full.py-8.flex.flex-col.gap-6
  = render "admin/products/tabs"
  .flex.flex-col.gap-1
    %h1.text-2xl.font-semibold= t("variants.create_product_variant")
    %span.text-gray-500
      = @product.name
  = render 'product_variant_form', path: product_create_admin_variants_path, method: :post, is_new: true
