.margin-max-screen.h-full.py-8.flex.flex-col.gap-5
  = render "admin/products/tabs"
  .flex.flex-col.gap-6
    .flex.gap-5.justify-between.items-center
      %span.text-gray-500
        product:
        = @product.name
      = button_to product_new_admin_variants_path(@product), class: "btn-plain flex gap-2.5 items-center", method: :get do
        New Variant
        = icon("fa-solid", "plus")
    %table
      %thead
        %tr
          %th Option
          %th Price
          %th Cost
          %th Count on hand
      %tbody
        - if @variants.present?
          - @variants.each do |variant|
            %tr
              %td
              %td=variant.price
              %td=variant.cost
              %td=variant.count_on_hand
        - else
          %tr
            %td
              No variants found
            %td
            %td
            %td
