- title "Checkout"

.w-full.max-w-checkout.mx-auto.px-4.flex.flex-col.gap-6.py-6{class: "", data: {controller: "checkout--step"}}
  = render "stepper"
  - if @order.errors.present?
    = render ErrorMessageComponent.new(errors: @order.errors.full_messages, label: "")
  = render "shipping_details_form"
  = render "payment_method_form"
