= form_for(category, url: admin_category_path(category), html: { id:, method:, data: { controller: "autosave" } }) do |f|
  = f.text_field :name, id: dom_id(f.object, "input"),                  |
  class: "text-sm font-medium px-1.5 py-0 w-full border-none            | 
  rounded-sm focus:border-none ring-0 focus:ring-1 focus:ring-primary", |
  required: true, data: { "autosave-target": "input" }                  |
