= form_for(category, as: "product_category", url: admin_category_path(category), html: { method: }) do |f|
  = f.text_field :name, class: "px-1.5 py-0 w-full border-none rounded-sm focus:border-none ring-0 focus:ring-1 focus:ring-primary", required: true
