- if category[1].present?
  .flex.flex-col.gap-1{class: category[0].ancestry_depth > 0 ? "ml-9" : "ml-0"}
    - category[1].each_with_index do |child, index|
      = render 'item', category: child[0], position: index 
      = render "subtree", category: child
