- if category[1].present?
  .flex.flex-col.gap-1{class: category[0].ancestry_depth > 0 ? "pl-9" : "pl-0"}
    - category[1].each do |child|
      = render 'item', category: child[0]
      = render "subtree", category: child
