- categories.each do |category|
  = render "item", category:
  - if (children = category.children.order_by_name).present?
    .block{id: dom_id(category, "tree"), class: "ml-9"}
      = render "tree", categories: children
