.margin-max-screen.h-full.py-8
  - if @base_category.present?
    .flex.gap-2.items-center
      %h1.font-bold.text-xl
        = t("categories.section_label")
      = button_to "/", class: "flex text-sm rounded-sm items-center p-1 bg-gray-50 ring-1 ring-gray-300" do
        = icon("fa-solid", "plus", class: "text-xs")
    .flex.flex-col.gap-1.mt-6
      - @base_category.subtree.arrange(order: :position).each do |category|
        = render "subtree", category:
  - else
    %span.text-red-500.text-xl.font-bold Something went wrong, must be deleted
