= turbo_stream.prepend "notification-container" do
  = render NotificationComponent.new notif_type:, message: 

- case type
- when "item"
  = turbo_stream.replace dom_id(category, type) do
    = render "item", category:

