= form.file_field :thumbnail, id: "dropzone-file", class: "hidden",
data: {action: "input->admin--products--form#thumbnail"}, 
accept: "image/png, image/jpg, image/jpeg"

%label{for: "dropzone-file", class: "cursor-pointer rounded-md flex gap-1 items-center border-2 border-dashed border-gray-400 p-2 hover:border-primary transition-colors duration-200 text-gray-500 hover:text-primary"}
  = image_tag form.object.thumbnail.attached? ? form.object.thumbnail.variant(:card) : "thumbnail.png",
  size: 320, id: "thumbnail", data: {"admin--products--form-target": "thumbnail"},
  class: "rounded max-h-20 border max-w-20 min-h-20 min-w-20 object-cover object-center"
  .flex.justify-center.items-center.w-full.flex-col
    %p.font-medium Select Image
    %p.text-sm PNG, JPG, JPEG
