.margin-max-screen.h-full.py-7
  .flex.flex-col.gap-4
    = button_to new_admin_product_path, class: "btn-primary flex gap-2.5 items-center", method: :get do
      New Product
      = icon("fa-solid", "plus")
    %table
      %thead
        %tr
          %th Name
          %th Price
          %th Actions
      %tbody
        - @products.each do |product|
          %tr
            %td
              = product.name
            %td
              = render PriceRangeComponent.new  |
                lowest: product.lowest_price,   |
                highest: product.highest_price  |
