- images = @product.images.sort_by_position
%ul.form-table-body{id: "data", data: {controller: "sortable", "sortable-animation-value": "500", "sortable-resource-name-value": "product_image", "sortable-handle-value": ".handle" }}
  - if images.present?
    - images.each do |image|
      = render "item", image:
  - else
    %li.flex.justify-center.w-full.py-6.text-gray-400.gap-4
      = t("images.no_list_found")
