#uploading-container.p-3.border.border-gray-300.grid.gap-3.rounded-md.hidden{data: {"admin--products--images--upload-target": "uploadingContainer"}}
  #uploading.flex.flex-wrap.gap-4{data: {"admin--products--images--upload-target": "uploading"}}
  #spinner.flex.gap-3.items-center
    = icon("fa-solid", "spinner", class: "text-3xl animate-spin")
    %span
      Uploading...
