= turbo_stream.prepend "notification-container" do
  = render NotificationComponent.new notif_type:, message: 

- case type
- when "deleted"
  = turbo_stream.remove dom_id(image, "item")
  = turbo_stream.remove dom_id(image, "hidden")
