.flex.gap-4.mt-10
  = button_tag class: "btn-primary-lite flex items-center gap-2" do
    = icon("fa-solid", "cart-plus", class: "text-lg")
    Add to cart
  = button_tag "Buy now", class: "btn-primary"
