#actions.flex.gap-4
  = button_tag data: {"product--public-target": "addToCartBtn"}, class: "text-[15px] btn-primary-lite flex items-center gap-2 disabled:border-gray-300 disabled:text-gray-300 disabled:bg-gray-200/10 disabled:cursor-progress" do
    = icon("fa-solid", "cart-plus", class: "text-lg")
    Add to cart
  = button_tag "Buy now", data: {"product--public-target": "buyNowBtn"}, class: "text-[15px] btn-primary disabled:bg-gray-200 disabled:cursor-progress"
