- product_options = @product.product_options

.mt-4.flex.flex-col.gap-5{data: {"product--public-target": "options", options_count: product_options.count}}
  - product_options.with_option_columns.each_with_index do |po, index|
    .flex.flex-col.gap-3
      %label.font-medium
        = po.display_name
      %ul.flex-wrap.flex{class: "gap-2.5"}
        - po.variant_option_values.with_variant_position.group_by { |h| h.name }.each do |key, arr|
          %li
            = radio_button_tag po.name, key, false, id: key, class: "peer hidden",
            data: {action: "click->product--public#radioToggle", was_checked: false, list: arr.map { |a| a.variant_uuid }.join(',')}
            %label.rounded-sm.bg-white.drop-shadow-sm.ring-1.ring-gray-400.cursor-pointer.peer-disabled:text-gray-300.peer-disabled:ring-gray-300.peer-checked:text-primary.peer-checked:ring-primary.px-3.py-2{for: key, class: "text-[15px] peer-checked:bg-primary/[.04]"}
              = key
