.flex.margin-max-screen.py-8
  .flex.gap-3.items-center
    - if user_signed_in?
      %span{class: "text-[17px]"}
        = current_user.name || current_user.email || current_user.phone_no
      = button_to "Logout", destroy_user_session_path, method: :delete, class: "border px-6 py-2 rounded"
    - else
      = button_to "Sign In", user_session_path, method: :get,  class: "border px-6 py-2 rounded"
