.h-screen.w-64.sticky.border
  .text-2xl.font-bold.px-4.py-3
    FJC Shop Admin
  .flex.flex-col.mt-3
    = render SidebarLinkComponent.new label: "Products", path: admin_products_path, icon: icon("fa-solid", "bag-shopping")
