.h-screen.w-64.sticky.border
  .text-2xl.font-bold.px-4.py-3.mt-4
    FJC Admin
  .flex.flex-col.mt-3.px-4
    = render SidebarLinkComponent.new                           |
      label: "Products",                                        |
      path: admin_products_path,                                |
      icon: icon("fa-solid", "bag-shopping"),                   |
      sub_paths: [                                              |
        { label: "Categories", path: admin_categories_path },   |
        { label: "Option types", path: admin_categories_path }  |
      ]                                                         |
