- title "Sign Up"
- description "Sign Up Page"
- keywords "User, Login, Register"

.margin-max-screen.grid.place-items-center.h-full.py-20
  = render "card", resource:, resource_name:, origin: root_path
